
set(platform_include_dirs)
set(platform_lib_dirs)
set(platform_libs)

IF(CMAKE_SYSTEM_NAME MATCHES "Windows")
	set(platform_include_dirs C:/_dev/vcpkg-master/installed/x64-mingw-static/include C:/_dev/mingw64/x86_64-w64-mingw32/include)
	set(platform_lib_dirs C:/_dev/vcpkg-master/installed/x64-mingw-static/lib C:/_dev/mingw64/x86_64-w64-mingw32/lib)
	set(platform_libs Winmm Ws2_32 Crypt32 Iphlpapi)
ENDIF()


IF(CMAKE_SYSTEM_NAME MATCHES "Darwin")
	set(platform_include_dirs /usr/local/Cellar/openssl@1.1/1.1.1v/include/)
	set(platform_lib_dirs /usr/local/Cellar/openssl@1.1/1.1.1v/lib/)
ENDIF()
